In [ ]:
name = "Qasim"
name

In [ ]:
name1 = "A"
name2 = "B"
name3 = "C"
print(name1,name2,name3)

In [ ]:
#        0    1   2
names = ["A","B","C"]
#        -3   -2  -1

print(names[1])
print(names[-2])

In [ ]:
print(type(names))
print(type(name1))

In [ ]:
a = print('pakistan') #Non Return
print(a)

In [ ]:
a = len('kasdjflasjdfjalk') # Return Function
print(a)

In [ ]:
l1 = [] #empty list
l1.append("A") # ["A"]
l1.append("B") # ["A","B"]
l1.append("C") # ["A","B","C"]

print(l1)

In [ ]:
print(l1)
l1.clear()
print(l1)

In [ ]:
l1 = ["a","b","c"]
print(l1)
del l1
print(l1)

In [ ]:
l1 = ['A','B','C']
l2 = l1 # Shallow Copy
print(l1)
print(l2)

l2[0] = "Pakistan"
print(l1)
print(l2)

In [ ]:
l1 = ['A','B','C']
l2 = l1.copy() # Deep Copy
print(l1)
print(l2)

l2[0] = "Pakistan"
print(l1)
print(l2)

In [ ]:
l1 = ['A',"B","A","C","C"]
l1.count("C")

In [ ]:
l1 = ['A',"B","A","C","C"]
l1.count("D")

In [ ]:
l1 = ['A',"B","C"]
l2 = ["Y","X","Z"]

print(l1 + l2) # Inline Operation
print(l1,l2)

In [ ]:
l1 = ['A',"B","C"]
l2 = ["Y","X","Z"]

print(l1.__add__(l2)) # Inline Operation
print(l1,l2)

In [ ]:
l1 = ['A',"B","C"]
l2 = ["Y","X","Z"]

l1.extend(l2) # In Memory Operation

print(l1)
print(l2)

In [ ]:
print(l1)

In [ ]:
print(l1)
print(l1.index("Y"))

In [ ]:
l1 = ["A","B","C","B","A"]
print(l1.index("B"))
print(l1.index("B", 2))

In [ ]:
l1 = ["A","B","C","B","A","B"]
print(l1[l1.index("B")])

In [ ]:
l1 = ["A","B","C","B","A"]
index = l1.index("B")
print(l1.index("B",index ))

In [ ]:
l1 = []
l1.insert(0, "A")#[A]
l1.insert(0, "B")#[B,A]
l1.insert(0, "C")#[C,B,A]
print(l1)
l1.insert(1,"D")
print(l1)

In [ ]:
l1 = ["A","B","C"]

del l1[-1] # ["A","B"]
del l1[-1] #["A"]
l1

In [ ]:
l2 = []
l1 = ["A","B","C","D","E"]

a = l1.pop() # E
l2.append(a) # [E]

a = l1.pop() # D
l2.append(a) # [E,D]

a = l1.pop() # C
l2.append(a)# [E,D,C]

print(l1) # [A,B]
print(l2) # [E,D,C]

In [ ]:
l2 = []
l1 = ["A","B","C","D","E"]

a = l1.pop(1) # B
l2.append(a) # [B]

a = l1.pop(1) # C
l2.append(a) # [B,C]

a = l1.pop(1) # D
l2.append(a)# [B,C,D]

print(l1) 
print(l2) 
#.index("B")

In [ ]:
l1 = ["A","B","C","B","E"]
print(l1.remove("B"))
print(l1)
l1.remove("B")
print(l1)

In [ ]:
l1 = ["A","B","X","C","Y","Z"]
print(l1)
l1.reverse()
print(l1)

In [ ]:
l1 = ["A","B","X","C","Y","Z"]
print(l1)
l1.sort()
print(l1)

In [ ]:
l1 = ["A","B","X","C","Y","Z"]
print(l1)
l1.sort()
l1.reverse()
print(l1)

In [ ]:
l1 = ["A","B","X","C","Y","Z"]
print(l1)
l1.sort(reverse=True)
print(l1)

In [ ]:
l1 = ["A","B","C"]
l2 = ["X","Z"]

print(l1,l2)
print(l1.__add__(l2)) # Inline Operation
print(l1,l2)

In [ ]:
print(l1)
l1.__class__

In [ ]:
print(l1)
l1.__contains__("A")

In [ ]:
l1 = ["A","B","C"]
l1.__delitem__(1)
l1

In [ ]:
l1.__doc__

In [ ]:
#[1,2,3]
#[1,2,3]
# True
[1,2,3].__eq__([3,2,1])

In [ ]:
#5,7,9
#1,2,4
[5,7,9].__ge__([1,2,3])

In [ ]:
['A'].__mul__(2)

In [ ]:
['A'] * 2

In [ ]:
['A'].__sizeof__()

In [ ]:
['A'].__sizeof__

# Tuple

In [1]:
l1 = ["A","B","C"]
l1[1]="ZZ"
print(l1)

['A', 'ZZ', 'C']

In [2]:
l1 = ("A","B","C")
l1[1] = 5
print(l1)

TypeError: 'tuple' object does not support item assignment

In [3]:
l1 = ("A","B","C")
l1 = ("A",5,"C")
print(l1)

('A', 5, 'C')

In [ ]:
help(list)

In [ ]:
print(len(dir(list)))
dir(list)

# Loop

In [4]:
"A " * 10

'A A A A A A A A A A '

# Counter
# Logic
# Increment / Decrement

In [5]:
counter = 1 # Counter

while counter <= 10: #Logic
    print("line no",counter)
    counter += 1 # Increment

line no 1
line no 2
line no 3
line no 4
line no 5
line no 6
line no 7
line no 8
line no 9
line no 10

In [6]:
counter = 1000# Counter

while counter >= 990: #Logic
    print("line no",counter)
    counter -= 1 # Decrement

line no 1000
line no 999
line no 998
line no 997
line no 996
line no 995
line no 994
line no 993
line no 992
line no 991
line no 990

for(counter; logic; increment){
    statment;
}

In [8]:
x = range(1,11)
x

range(1, 11)

In [9]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
for i in range(1000,990,-1):
    print(i)

1000
999
998
997
996
995
994
993
992
991

In [13]:
for i in range(1,11):
    #print(2,"X",i,"=",i*2)
    #print("2 X "+str(i)+" = "+str(i*2))
    print(f"2 X {i} = {i*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [14]:
for i in range(10,0,-1):
    #print(2,"X",i,"=",i*2)
    #print("2 X "+str(i)+" = "+str(i*2))
    print(f"2 X {i} = {i*2}")

2 X 10 = 20
2 X 9 = 18
2 X 8 = 16
2 X 7 = 14
2 X 6 = 12
2 X 5 = 10
2 X 4 = 8
2 X 3 = 6
2 X 2 = 4
2 X 1 = 2

In [15]:
#user = int(input("Enter no"))
user = input("Enter no")
user = int(user)
for t in range(1, user+1): #4+1 =5
    for n in range(1,11):
        print(f"{t} X {n} = {t*n}")

Enter no5
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
1 X 1 = 1   2 X 1 = 2
1 X 2 = 2   2 X 2 = 4
1 X 3 = 3   2 X 3 = 1
1 X 4 = 4   2 X 4 = 1
1 X 5 = 5   2 X 5 = 1
1 X 6 = 6   2 X 6 = 1
1 X 7 = 7   2 X 7 = 1
1 X 8 = 8   2 X 8 = 1
1 X 9 = 9   2 X 8 = 1
1 X 10 = 10 2 X 10 = 20

In [16]:
u = int(input("Enter no"))

for r in range(1,11):
    for c in range(1, u+1):
        print(f"{c} X {r} = {c*r}", end="\t")
    print()

Enter no5
1 X 1 = 1	2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5
1 X 2 = 2	2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10
1 X 3 = 3	2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15
1 X 4 = 4	2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20
1 X 5 = 5	2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25
1 X 6 = 6	2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30
1 X 7 = 7	2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35
1 X 8 = 8	2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40
1 X 9 = 9	2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45
1 X 10 = 10	2 X 10 = 20	3 X 10 = 30	4 X 10 = 40	5 X 10 = 50

In [4]:
users = [[1,'Qasim','1545454523!!'],
        [2,'Ali','1454545453!!'],
       [3,'Ahmed','14578787873!!'],
       [4,'Aslam,','1979797987878!!']]
#Task
#Use loop to check if user exist in our list  make 
#sure name and password is same if condition is true the print valid user

[[1, 'Qasim', '1545454523!!'],
 [2, 'Ali', '1454545453!!'],
 [3, 'Ahmed', '14578787873!!'],
 [4, 'Aslam,', '1979797987878!!']]

In [ ]:
0315-2968211