In [2]:
import numpy as np
import pandas as pd

In [3]:
data_size = 5000
transactions = pd.DataFrame({"CNIC": np.random.randint(1,1000, size=(data_size)),
                   "TransactionID":np.random.randint(1,2, size=(data_size)),
                  "Transaction Date":pd.date_range('1690-01-01', periods=data_size, freq="M"),
                   "Description":np.random.choice(["TopUP","IBFT","FT"], size=(data_size)),
                             "City":np.random.choice(["Karachi","Islamabad","Lahore"], size=(data_size)),
                            "Amount": np.random.randint(1,1000000, size=(data_size)),
                            "Currency":np.random.choice(['036',"051","104",'106'], size=(data_size))})
transactions

,CNIC,TransactionID,Transaction Date,Description,City,Amount,Currency
0,725,1,1690-01-31,TopUP,Karachi,346048,104
1,558,1,1690-02-28,FT,Islamabad,472946,036
2,564,1,1690-03-31,TopUP,Karachi,532899,051
3,691,1,1690-04-30,IBFT,Islamabad,486791,036
4,464,1,1690-05-31,IBFT,Karachi,655625,051
...,...,...,...,...,...,...,...
4995,150,1,2106-04-30,TopUP,Islamabad,154593,036
4996,554,1,2106-05-31,FT,Lahore,339745,106
4997,77,1,2106-06-30,IBFT,Lahore,581990,106
4998,812,1,2106-07-31,TopUP,Lahore,462807,106
4999,991,1,2106-08-31,FT,Lahore,748189,106

In [9]:
pip install lxml

Collecting lxml
  Downloading lxml-4.6.3-cp39-cp39-win_amd64.whl (3.5 MB)
Installing collected packages: lxml
Successfully installed lxml-4.6.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
currency = pd.read_html("https://www.iban.com/currency-codes")
currency

[               Country         Currency Code  Number
 0          AFGHANISTAN          Afghani  AFN   971.0
 1        ÅLAND ISLANDS             Euro  EUR   978.0
 2              ALBANIA              Lek  ALL     8.0
 3              ALGERIA   Algerian Dinar  DZD    12.0
 4       AMERICAN SAMOA        US Dollar  USD   840.0
 ..                 ...              ...  ...     ...
 263  WALLIS AND FUTUNA        CFP Franc  XPF   953.0
 264     WESTERN SAHARA  Moroccan Dirham  MAD   504.0
 265              YEMEN      Yemeni Rial  YER   886.0
 266             ZAMBIA   Zambian Kwacha  ZMW   967.0
 267           ZIMBABWE  Zimbabwe Dollar  ZWL   932.0

 [268 rows x 4 columns]]

In [13]:
 data = pd.DataFrame(currency[0])

In [14]:
data[['Code','Number']]

    Code  Number
0    AFN   971.0
1    EUR   978.0
2    ALL     8.0
3    DZD    12.0
4    USD   840.0
..   ...     ...
263  XPF   953.0
264  MAD   504.0
265  YER   886.0
266  ZMW   967.0
267  ZWL   932.0

[268 rows x 2 columns]

In [17]:
transactions['code'] = np.where(data["Number"] == transactions["Currency"],True, np.nan)

ValueError: Can only compare identically-labeled Series objects

In [10]:
pip install CurrencyConverter

Collecting CurrencyConverter
  Downloading CurrencyConverter-0.16-py2.py3-none-any.whl (518 kB)
Installing collected packages: CurrencyConverter
Successfully installed CurrencyConverter-0.16
Note: you may need to restart the kernel to use updated packages.

In [6]:
from currency_converter import CurrencyConverter
c = CurrencyConverter()

In [12]:
c.convert(100, 'EUR', 'USD')

118.94