In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
5 + 9 # Operation
# Operators
    # +, - , * , / , %, **
    # = , +=, -=, *=, /=, **=
    # == , <, >, >=, <=, !=
    # and (&) or (|)
    
# 5, 9 # Oprands

14

In [3]:
#PEMDAS
9 + 8 * 2 / 2**2 + (7 -3) * 7
#9 + 8 * 2 / 2**2 + 4 * 7
#9 + 8 * 2 / 4 + 4 * 7
#9 + 8 * 2 / 4 + 4 * 7
#9 + 16 / 4 + 28
#9 + 4 + 28
#41

41.0

In [5]:
#copy types
# Shallow Copy
# Deep Copy

a = 20
b = 20

print(a)
print(b)

print(id(a))
print(id(b))

20
20
93845240890848
93845240890848

In [100]:
a = list("pakistan")
b = a.copy()

print(a)
print(b)

print(id(a))
print(id(b))

['p', 'a', 'k', 'i', 's', 't', 'a', 'n']
['p', 'a', 'k', 'i', 's', 't', 'a', 'n']
140323954634632
140323954415624

In [6]:
a = 20
print(a)
print(type(a))

20
<class 'int'>

In [101]:
a = 11 // 3 # floor Division
print(a)
print(type(a))

3
<class 'int'>

In [7]:
a = 20.8
print(a)
print(type(a))

20.8
<class 'float'>

In [8]:
a = 8 / 8
print(a)
print(type(a))

1.0
<class 'float'>

In [9]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

In [10]:
a = False
print(a)
print(type(a))

False
<class 'bool'>

In [11]:
a = "20"
print(a)
print(type(a))

20
<class 'str'>

In [12]:
a = '1'
print(a)
print(type(a))

1
<class 'str'>

In [13]:
a = """20.7"""
print(a)
print(type(a))

20.7
<class 'str'>

In [14]:
a = '''78'''
print(a)
print(type(a))

78
<class 'str'>

In [19]:
#Index    0       1       2      3     4
names = ["Ali","Hamza","Junaid",200, True] #List[Element,Element]
#Index     -5    -4      -3      -2   -1

print(names)
print(names[-1])   #list[indexNumber]
print(type(names))

['Ali', 'Hamza', 'Junaid', 200, True]
True
<class 'list'>

In [20]:
#Index    0       1       2      3     4
names = ("Ali","Hamza","Junaid",200, True) #tuple[Element,Element]
#Index     -5    -4      -3      -2   -1

print(names)
print(names[-1])   #list[indexNumber]
print(type(names))

('Ali', 'Hamza', 'Junaid', 200, True)
True
<class 'tuple'>

In [21]:
names = {"Ali","Hamza","Ali","Hamza","Rashid"} #set
names

{'Ali', 'Hamza', 'Rashid'}

In [22]:
names = {"Ali","Hamza","Ali","Hamza","Rashid"} #set
names[0]

TypeError: 'set' object does not support indexing

In [26]:
# Type Casting
names = {"Ali","Hamza","Ali","Hamza","Rashid"} #set
names = list(names)
names[0]

'Hamza'

In [102]:
#Index    0       1       2      3     4
names = ("Ali","Hamza","Junaid",200, True) #tuple[Element,Element]
#Index     -5    -4      -3      -2   -1

print(names)
print(names[-1])   #list[indexNumber]
print(type(names))

('Ali', 'Hamza', 'Junaid', 200, True)
True
<class 'tuple'>

In [109]:
# {
# key0: value1,
# key1: value1, 
# key2:value2
# }

# key hashable data type
# value any data types


data = {
    "name":"Muhammad Qasim",
    "fname":"Muhammad Aslam",
    "fee":500,
    "education":['Matric',"Intermediate","BSCS","DSCS"],
    5: "Pakistan",
    'a' : 2000
}

print(data[5])

Pakistan

In [30]:
a = 20
print(type(a))
a = float(a)
print(type(a))
a = str(a)
print(type(a))
a = list(a)
print(type(a))
a = set(a)
print(type(a))
a = bool(a)
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'set'>
<class 'bool'>

In [33]:
a = 28.9
int(a)

28

# Slicing

#list[start:end:step]
#tuple[start:end:step]
#string[start:end:step]
#start ->Included
#end   ->Excluded
#Step  ->Sequance

In [38]:
a = "Pakistan zinda bad"
print(a[::])
print(a[::-1])
print(a[1:3:])
print(a[0:9:] + a[-3:])

Pakistan zinda bad
dab adniz natsikaP
ak
Pakistan bad

# String Data types and Methods

help(str)
str?
str??
?str
??str

In [41]:
a = "MUhammAd Qasim"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [42]:
a = "MUHAmmAD QaSIM"
print(a.upper()) # Inline Operation
print(a)

MUHAMMAD QASIM
MUHAmmAD QaSIM

In [43]:
a = "MUHAmmAD QaSIM"
a = a.upper() # In Memory Operation

print(a)

MUHAMMAD QASIM

In [44]:
a = "MUHmMaD QaSIM"
print(a.title())
print(a)

Muhmmad Qasim
MUHmMaD QaSIM

In [45]:
a = "MUHmMaD QaSIM"
print(a.capitalize())
print(a)

Muhmmad qasim
MUHmMaD QaSIM

In [47]:
a = "        Muhammad            Qasim     "
print(a)

        Muhammad            Qasim

In [50]:
a = "        Muhammad            Qasim     "
print(len(a))
print(a.lstrip())
print(len(a.lstrip()))
print(a)

38
Muhammad            Qasim
30
        Muhammad            Qasim

In [51]:
a = "        Muhammad            Qasim     "
print(len(a))
print(a.rstrip())
print(len(a.rstrip()))
print(a)

38
        Muhammad            Qasim
33
        Muhammad            Qasim

In [52]:
a = "        Muhammad            Qasim     "
print(len(a))
print(a.strip())
print(len(a.strip()))
print(a)

38
Muhammad            Qasim
25
        Muhammad            Qasim

In [53]:
a = "        Muhammad            Qasim     "
b = a.split()
b

['Muhammad', 'Qasim']

In [56]:
" ".join(b)

'Muhammad Qasim'

In [57]:
"=====".join(b)

'Muhammad=====Qasim'

In [58]:
a = "kjaskdfjaldjf 39u23j2 l3jj2 3k-323/32*2"

"".join([i for i in a if str.isnumeric(i)])

'39232323323322'

In [59]:
a = "we are pakistan we love our country!"
a.find("pakistan")

7

In [62]:
a = "we are pakistan we love our country!"
a.index("pakistan")

int

In [67]:
b = input("Search:")
print(a[a.index(b): a.index(b)+len(b)])
a[a.index(b): ]

Search:sta
sta

'stan we love our country!'

In [68]:
card = """
PIAIC ISLAMABAD
Bahria University 
Name: Muhammad Qasim
Father's Name: Muhammad Asalam
"""

print(card)

PIAIC ISLAMABAD
Bahria University
Name: Muhammad Qasim
Father's Name: Muhammad Asalam

In [69]:
student_name = "Muhammad Qasim"
f_name = "Muhammad Asalam"

card = """
PIAIC ISLAMABAD
Bahria University 
Name: 
Father's Name: 
"""

print(card)

PIAIC ISLAMABAD
Bahria University
Name:
Father's Name:

In [71]:
student_name = "Muhammad Qasim"
f_name = "Muhammad Asalam"
fee = 1000

card = """
PIAIC ISLAMABAD
Bahria University 
Name: %s
Father's Name: %s
Fee : %d
"""

print(card%(student_name,f_name, fee))

PIAIC ISLAMABAD
Bahria University
Name: Muhammad Qasim
Father's Name: Muhammad Asalam
Fee : 1000

In [72]:
student_name = input("Name:")
f_name = input("Father's name")
fee = int(input("Fee"))

card = """
PIAIC ISLAMABAD
Bahria University 
Name: %s
Father's Name: %s
Fee : %d
"""

print(card%(student_name,f_name, fee))

Name:Ali
Father's nameHamza
Fee5000

PIAIC ISLAMABAD
Bahria University
Name: Ali
Father's Name: Hamza
Fee : 5000

In [74]:
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
fee = 5000

a=f"""
Bahria University Islamabad
Student Name: {name}
Father's Name: {fname}
Fee: {fee}
"""
print(a)

Bahria University Islamabad
Student Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Fee: 5000

In [75]:
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
fee = 5000

a="""
Bahria University Islamabad
Student Name: {}
Father's Name: {}
Fee: {}
"""
print(a.format(name, fname,fee))

Bahria University Islamabad
Student Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Fee: 5000

In [76]:
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
fee = 5000

a="""
Bahria University Islamabad
Student Name: {1}
Father's Name: {0}
Fee: {2}
"""
print(a.format(name, fname,fee))

Bahria University Islamabad
Student Name: Muhammad Aslam
Father's Name: Muhammad Qasim
Fee: 5000

In [77]:
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
fee = 5000

a="""
Bahria University Islamabad
Student Name: {sn}
Father's Name: {fn}
Fee: {f}
"""
print(a.format(f=fee, fn=fname, sn=name))

Bahria University Islamabad
Student Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Fee: 5000

In [78]:
"1" + '1'

'11'

In [79]:
int("1") + int('1')

2

In [83]:
int("1") + "8"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [84]:
"8" * 2

'88'

In [85]:
2*2

4

In [86]:
"Pak" * 2

'PakPak'

In [98]:
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
fee = 5000



print("Bahria University Islamabad \nStudent Name" \
+ name + "\nFather's Name \n"+fname+"\nFee: "+str(fee))

Bahria University Islamabad
Student NameMuhammad Qasim
Father's Name
Muhammad Aslam
Fee: 5000

In [91]:
8 * 7 + 9 / 2 ** 20 // 2

56.0

In [93]:
8 * \
7 + \
9 / \
2 ** \
20 // \
2

56.0

In [112]:
names = ["Qasim","Asif","Hamza"]


print(names[0], names[1], names[2])
print(names)
print(*names)

Qasim Asif Hamza
['Qasim', 'Asif', 'Hamza']
Qasim Asif Hamza

In [114]:
name, fname, fee = "Qasim", "Aslam", 2000
print(name, fname,fee)

Qasim Aslam 2000

In [115]:
a=["Qasim", "Aslam", 2000]
name = a[0],
fname = a[1]
fee = a[2]
print(name, fname,fee)

('Qasim',) Aslam 2000

In [116]:
a=["Qasim", "Aslam", 2000]
name, fname, fee = a
print(name, fname,fee)

Qasim Aslam 2000

# Assignment
- String data types all methods 
- Apply random operators on 20 oprands