In [1]:
mesage = "Hello Python Crash Course reader!"

In [2]:
type(mesage)

str

In [3]:
help(mesage.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [4]:
?mesage.count

In [5]:
??mesage.count

In [6]:
?mesage.count?

In [ ]:
?mesage.count

In [7]:
mesage.count?

In [8]:
mesage.count??

In [9]:
print(mesage)

Hello Python Crash Course reader!

### Combining or Concatenating Strings

In [10]:
first_name = "Isfhan"

In [11]:
last_name = "Ahmed"

In [12]:
full_name = first_name + " " + last_name
print(full_name)
full_name

Isfhan Ahmed

'Isfhan Ahmed'

In [13]:
# + - / * % > < != == === is opreator 
'a'+'c'

'ac'

In [14]:
name = 'isfhan'
print(name)
name

isfhan

'isfhan'

In [15]:
name = "isfhan"
print(name)
name

isfhan

'isfhan'

In [16]:
name = '''isfhan'''
print(name)
name

isfhan

'isfhan'

In [17]:
detail = """
name :- Isfhan ahmed
fatherName :- Dildar ahmed
"""
print(detail)
detail

name :- Isfhan ahmed
fatherName :- Dildar ahmed

'\nname :- Isfhan ahmed\nfatherName :- Dildar ahmed\n'

In [18]:
detail = """
Saylani mass IT traing program
Course : Saylani Ai batch-2
name :- Isfhan ahmed
fatherName :- Dildar ahmed
rollNumber : 12546 batch : 2
"""
print(detail)

Saylani mass IT traing program
Course : Saylani Ai batch-2
name :- Isfhan ahmed
fatherName :- Dildar ahmed
rollNumber : 12546 batch : 2

In [19]:
name = 'JohnDoe' 
father_name = 'johnCena'
roll_number = 45678

detail = """
Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : {name} 
FatherName : {father_name}
RollNumber : {roll_number} batch : 2
"""
print(detail)

Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : {name}
FatherName : {father_name}
RollNumber : {roll_number} batch : 2

In [20]:
name = 'JohnDoe' 
father_name = 'johnCena'
roll_number = 45678

detail = f"""
Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : {name} 
FatherName : {father_name}
RollNumber : {roll_number} batch : 2
"""
print(detail)

Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : JohnDoe
FatherName : johnCena
RollNumber : 45678 batch : 2

In [21]:
name = 'JohnDoe' 
father_name = 'Obama'
roll_number = 45678

detail = f"""
Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : {name} 
FatherName : {father_name}
RollNumber : {roll_number} batch : 2
"""
print(detail)

Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : JohnDoe
FatherName : Obama
RollNumber : 45678 batch : 2

In [22]:
name

'JohnDoe'

In [25]:
name = name.upper()

In [26]:
name

'JOHNDOE'

In [30]:
!ls -la

total 21
drwxr-xr-x 1 smit 197121    0 Jan 29 21:25 .
drwxr-xr-x 1 smit 197121    0 Jan 29 21:12 ..
drwxr-xr-x 1 smit 197121    0 Jan 29 21:23 .ipynb_checkpoints
-rw-r--r-- 1 smit 197121  116 Jan 29 21:24 debug.log
-rw-r--r-- 1 smit 197121 9707 Jan 29 21:25 index.ipynb
-rwxr-xr-x 1 smit 197121 2002 Jan 27 23:17 index.py

In [31]:
!pwd

/e/AI/Python Class (3) 1-29-2021

In [34]:
game = "Gta     "

In [35]:
print(game)

Gta

In [37]:
game.rstrip()

'Gta'

In [38]:
movie = "bac k to future "

In [39]:
number_with_power = 3 ** 3

In [40]:
number_with_power

27

In [42]:
(2 + 3) ** 4

625

In [43]:
float_number = 4.56

In [44]:
type(float_number)

float

In [46]:
float_number_one = 4.36

In [47]:
float_number_two = 8.36

In [50]:
answer = float_number_one float_number_two

In [51]:
answer

0.0

### Arithmetic operators

##### + , - ,  / ,  * ,  %  ,  // , ** is opreator

In [53]:
2+5

7

In [54]:
'1'+'1'

'11'

In [55]:
55 + 96.6

151.6

In [56]:
'1'+1

TypeError: can only concatenate str (not "int") to str

In [57]:
int('1')+1

2

In [59]:
'string '*5

'string string string string string '

In [62]:
22/7

22

In [63]:
a=2

In [64]:
b=2

In [65]:
id(a)

140709709717936

In [66]:
id(b)

140709709717936

In [67]:
a is b

True