## Functions
* Pre define functions
* User Define Functions
* Recursive Functions
* Lambda Functions


- Required Arguments
- Optional Arguments
- Return
- Non Return
- Defualt Arguments
- postional Arguments
- KeyWord Arguments
- Argument with List
- Argument with Dictionary
- pre defineFunctions
- User defineFunctions

In [1]:
print("Pakistan zinda bad")
print("We are Pakistani")
print("We love our country!")

print("Pakistan zinda bad")
print("We are Pakistani")
print("We love our country!")

print("Pakistan zinda bad")
print("We are Pakistani")
print("We love our country!")

Pakistan zinda bad
We are Pakistani
We love our country!
Pakistan zinda bad
We are Pakistani
We love our country!
Pakistan zinda bad
We are Pakistani
We love our country!

# Pre define Functions

In [2]:
print("Pre Define Fucntions")
input("abc")
print(type(22))
print(len('ad'))
print(id('aa'))

Pre Define Fucntions
abcaa
<class 'int'>
2
139692188486208

# User Define Functions

In [4]:
def abc(): # Function Dec
    #Body Start indentation block
    print("Pakistan zinda bad") # Statment1
    print("We are ABC")#statment2
    print("We love our country!")#Statment3
    #Body End indentation block
    
    
abc()    # Defualt Function
abc()    
abc()    
abc()    
abc()    
abc()

Pakistan zinda bad
We are ABC
We love our country!
Pakistan zinda bad
We are ABC
We love our country!
Pakistan zinda bad
We are ABC
We love our country!
Pakistan zinda bad
We are ABC
We love our country!
Pakistan zinda bad
We are ABC
We love our country!
Pakistan zinda bad
We are ABC
We love our country!

# Required Arguments Functions

In [31]:
def id_card(sid, sname, fname, course, timing):
    print(
    f"""
    PIAIC Islamabad
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """
    )
    
id_card(1,'Qasim','Aslam','A.I','9 to 12')

    PIAIC Islamabad
    Student id: 1
    Student Name: Qasim
    Father's Name: Aslam
    Course: A.I
    Timing: 9 to 12

In [9]:
id_card(1,'Qasim','Aslam')

TypeError: id_card() missing 2 required positional arguments: 'course' and 'timing'

In [8]:
data = [[1,'a','a','b','a'],
       [2,2,2,2,2],
       [3,3,3,3,3]]

for i in data:
    id_card(*i)

    PIAIC Islamabad
    Student id: 1
    Student Name: a
    Father's Name: a
    Course: b
    Timing: a


    PIAIC Islamabad
    Student id: 2
    Student Name: 2
    Father's Name: 2
    Course: 2
    Timing: 2


    PIAIC Islamabad
    Student id: 3
    Student Name: 3
    Father's Name: 3
    Course: 3
    Timing: 3

In [12]:
def pl(x,y,z):
    print(x,y,z)
    print(x+y+z)
    
pl(9,3)

TypeError: pl() missing 1 required positional argument: 'z'

# Optional Argument | Defualt Argument

In [14]:
def pl(x, y=0, z=0):
    print(x,y,z)
    print(x+y+z)

In [15]:
pl(9,3)

9 3 0
12

In [16]:
pl(2)

2 0 0
2

In [17]:
pl(2,3,4)

2 3 4
9

In [18]:
pl()

TypeError: pl() missing 1 required positional argument: 'x'

In [20]:
def pl(x,z, y=0):
    print(x,y,z)
    print(x+y+z)

pl(5,6)

5 0 6
11

In [21]:
def pl(x=0, y=0, z=0):
    print(x,y,z)
    print(x+y+z)
    
pl()

0 0 0
0

# Non Return Functions

In [22]:
a = print('Pakistan')
print(a)

Pakistan
None

In [32]:
b=id_card(1,'Qasim','Aslam','A.I','9 to 12')   
print(b)

    PIAIC Islamabad
    Student id: 1
    Student Name: Qasim
    Father's Name: Aslam
    Course: A.I
    Timing: 9 to 12

None

In [24]:
def pl(x=0, y=0, z=0):
    print(x+y+z)
    
a=pl(3,5,9) 
print(a)

17
None

# Return Functions

In [26]:
def abc(x,y,z):
    return x+y+z

a = abc(3,3,5) #Return Fucntion
print(a)

11

In [33]:
def id_card(sid, sname, fname, course, timing):
    return f"""
    PIAIC Islamabad
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """
    
    
a=id_card(1,'Qasim','Aslam','A.I','9 to 12')    
print(a)

    PIAIC Islamabad
    Student id: 1
    Student Name: Qasim
    Father's Name: Aslam
    Course: A.I
    Timing: 9 to 12

In [35]:
def abc():
    return "A" # Always return first return statment
    return "B"
    return "C"

abc()

'A'

In [36]:
def abc(x,y,z):
    return x+y+z
    return x*y*z
    return x*y+z

abc(5,5,6)

16

In [37]:
def abc(x,y,z):
    return x+y+z, x*y*z, x*y+z

abc(5,5,6)

(16, 150, 31)

# Positional Arguments

In [41]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
    
    
#id_card(1,'Qasim','Aslam','A.I','9 to 12')    
id_card(1,'A.I','9 to 12','Qasim','Aslam')

    PIAIC Islamabad
    Student id: 1
    Student Name: A.I
    Father's Name: 9 to 12
    Course: Qasim
    Timing: Aslam

In [42]:
id_card(1,'Qasim','Aslam','A.I','9 to 12')

    PIAIC Islamabad
    Student id: 1
    Student Name: Qasim
    Father's Name: Aslam
    Course: A.I
    Timing: 9 to 12

# Keyword Arguments

In [43]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
    
    
id_card(sid=1, course='A.I',timing='9 to 12',sname='Qasim',fname='Aslam')

    PIAIC Islamabad
    Student id: 1
    Student Name: Qasim
    Father's Name: Aslam
    Course: A.I
    Timing: 9 to 12

# Pass Argument with List

In [44]:
l1 = [1,"ABC","XYZ",'A.I',"AAA"]
print(l1)

[1, 'ABC', 'XYZ', 'A.I', 'AAA']

In [45]:
l1 = [1,"ABC","XYZ",'A.I',"AAA"]
print(l1[0], l1[1], l1[2],l1[3], l1[4])

1 ABC XYZ A.I AAA

In [46]:
l1 = [1,"ABC","XYZ",'A.I',"AAA"]
print(*l1)

1 ABC XYZ A.I AAA

In [48]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
    
    
l1 = [1,"ABC","XYZ",'A.I',"AAA"]    
#id_card(l1[0], l1[1], l1[2],l1[3], l1[4])    
id_card(*l1) # same as above second last line

    PIAIC Islamabad
    Student id: 1
    Student Name: ABC
    Father's Name: XYZ
    Course: A.I
    Timing: AAA

# Passing Argument with Dictionary

In [50]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
    



d1 = {
    'sname':'Qasim',
    'sid':200,
    'fname':'Aslam',
    'timing':'5 to 9',
    'course': 'A.I'
    
}
#id_card(sid=1, course='A.I',timing='9 to 12',sname='Qasim',fname='Aslam')
id_card(**d1)

    PIAIC Islamabad
    Student id: 200
    Student Name: Qasim
    Father's Name: Aslam
    Course: A.I
    Timing: 5 to 9

In [53]:
def abc(name, *number):
    print(name)
    print(number)
    print(sum(number))
    
abc('Qasim',5,4,6,2)

Qasim
(5, 4, 6, 2)
17

In [55]:
def abc(name, abc, *number):
    print(name)
    print(abc)
    print(number)
    print(sum(number))
    
abc('Qasim','ABBB',5,4,6,2)

Qasim
ABBB
(5, 4, 6, 2)
17

In [57]:
def abc(*number, name):
    print(name)
    print(number)
    print(sum(number))
    
abc(5,4,6,2, name='Qasim')

Qasim
(5, 4, 6, 2)
17

In [60]:
def abc(abc, *number, name):
    print(name)
    print(number)
    print(sum(number))
    
abc(number=[5,4,6,2], name='Qasim', abc='aaa')

TypeError: abc() got an unexpected keyword argument 'number'

In [63]:
def abc(name, **kv):
    print(name)
    print(kv)
    
    
abc('QASim', a='bb',b='aa',c='ccc')

QASim
{'a': 'bb', 'b': 'aa', 'c': 'ccc'}

# Recursive Function

In [65]:
def abc(n):
    if n==1:
        return 1
    return n * abc(n-1)

abc(5)
#1*2*3*4*5

120

In [66]:
def abc(n):
    if n==1:
        return 1
    return n + abc(n-1)

abc(5)
#1*2*3*4*5

15

# Generator Function

In [68]:
def my_range(n):
    for i in range(1, n+1):
        print(i)
        
my_range(10)

1
2
3
4
5
6
7
8
9
10

In [69]:
def my_range(n):
    for i in range(1, n+1):
        yield i
        
a = my_range(10)

print(next(a))
print(next(a))
print(next(a))

1
2
3

In [70]:
print(next(a))

4

In [71]:
list(a)

[5, 6, 7, 8, 9, 10]

In [74]:
def abc(n):
    for i in range(1,n+1):
        if (i%5==0 and i%7==0 and i%15==0):
            yield i
            
a = abc(1000)
print(next(a))
print(next(a))
print(next(a))
list(a)

105
210
315

[420, 525, 630, 735, 840, 945]

# Lambda Function

In [75]:
def abc(x,y): return x+y

abc(5,7)

12

In [76]:
abc = lambda x,y,z : x+y+z

abc(4,6,7)

17

In [ ]:
abc(7,9)
#9

abc(6,3)
#6