# Types of Operator

- Arithmetic Operators
- Comparison (Relational) Operators
- Assignment Operators
- Logical Operators
- Bitwise Operators
- Membership Operators
- Identity Operators

## Arithmetic Operators

+ Addition
- Subtraction
* Multiplication
/ Division
// floor Division
% Modulus
** Power

In [ ]:
2 + 5

In [ ]:
2.0 + 5.0

In [ ]:
2 + 5.0

In [ ]:
"A" + "B"

In [ ]:
["Hamza","Junaid"] + ["Abid","Konain"]

In [ ]:
("Hamza","Junaid") + ("Abid","Konain")

In [ ]:
{"A","B"} + {"C","D"}

In [ ]:
{8,4} + {8,4}

In [ ]:
{1:"A",2:"B"} + {3:"C",4:"D"}

In [ ]:
{1:"A",2:"B"} + {1:"C",2:"D"}

In [ ]:
5 - 2

In [ ]:
4.2 - 3

In [ ]:
{5,6,8,7} - {6,7}

In [ ]:
{"A","B","C"} - {"B"}

In [ ]:
[4,5]-[2,3]

In [ ]:
2 * 4

In [ ]:
3.0 * 2

In [ ]:
"A" * 3

In [ ]:
["A"] * 3

In [ ]:
("aA") * 2

In [ ]:
("aA",) * 2

In [ ]:
test  = ("aA")
type(test)

In [ ]:
test  = {"aA"}
type(test)

In [ ]:
("aA","bB") * 2

In [ ]:
12 / 4

In [ ]:
11 / 3

In [ ]:
11 // 3


        3
 3  ________
____|   11  |____   
        9
    ----------
        2   # Modulus

In [ ]:
11 % 3

In [ ]:
2 ** 3 # 2 X 2 X 2 = 8

In [ ]:
"A" ** 2

## Comparison (Relational) Operators

==
>
<
>=
<=
!=, <>

In [ ]:
2 == 2

In [ ]:
2 === 2

In [ ]:
2 == 2.0

In [ ]:
2 == '2'

In [ ]:
'A' == 'a'

In [ ]:
5 > 3

In [ ]:
5 > 5

In [ ]:
5 >= 5 # 5 > 4

In [ ]:
5 > 4

In [ ]:
"A" > "B"

A=65  -> Z=90
a=97  -> z=122
0=48  -> 9=57

In [ ]:
ord("a")

In [ ]:
ord("X")

In [ ]:
chr(65)

In [ ]:
3 < 4

In [ ]:
3 <= 3

In [ ]:
'qasim' != "Qasim"

In [ ]:
4 <> 4

In [ ]:
2 != 4

# Assignment Operators

=
+=
-=
*=
/=
//=
**=
%=

In [ ]:
a = 5
print(a)

In [ ]:
a = 5
a = 6
a = 7
print(a)

In [ ]:
a,a,a = 5,6,7
a

In [ ]:
a = 5;a = 6;a = 7;print(a)

In [ ]:
a = 1 # 1
a +=2 # 1 + 2 = 3
a +=3 # 3 + 3=6
a +=4 # 6 + 4 = 10
print(a)

In [ ]:
a = 1 #      1
a = a + 2 #  1 + 2 = 3
a = a + 3 #  3 + 3 = 6
a = a + 4 # 6 + 4 = 10
print(a)

In [ ]:
a = 1
a++
a

In [ ]:
a = 100
a -=5
a -=5
a -=10
print(a)

In [ ]:
a = 1
a *= 2 # 1 *2
a *= 3 # 2 * 3 = 6
print(a)

In [ ]:
a = 100
a /= 2
a /= 2
print(a)

In [ ]:
a = 100
a //= 2
a //= 2
print(a)

In [ ]:
a = 21
a %= 5
print(a)

In [ ]:
a = 2
a **= 2
a **= 3
print(a)

In [ ]:
a = "A"
a += "B"
print(a)

In [ ]:
a = [1,2,3]
a +=[5,6]
print(a)

# Logical Operators

and  & 
or   |
not

In [ ]:
True and True and True

In [ ]:
True & True & True

In [ ]:
True and False and True

In [ ]:
user = input("UserName:")
password = input("Password")

user == "Admin" and password == "123"
#"Admin" == "Admin" and "123" == "123"
#       True         and       True
#                   True

In [ ]:
user = input("UserName:")
password = input("Password")

(user == "Admin") & (password == "123")
#"Admin" == "Admin" and "123" == "123"
#       True         and       True
#                   True

In [ ]:
user = input("UserName:")
password = input("Password")

user == "Admin" and password == "123"
#"Qasim" == "Admin" and "123" == "123"
#       False        and       True
#                   False

In [ ]:
True or True or False or False or True

In [ ]:
True | True | False | False | True

In [ ]:
False | False | False | False | False

In [ ]:
user = "Qasim" # Qasim,Ali, Hamza
password = "123" # 123


(user == "Qasim" or \
 user== "Ali" or \
 user == "Hamza") and password=="123"

In [ ]:
user = "a"
password = "123"

not (user=="Ali" and password=="123")

In [ ]:
not(True)

In [ ]:
not True

In [ ]:
not(False)

# Bitwise Operators

8,  7,    6,    5,    4,    3,    2,    1,    0
2,  2,    2,    2,    2,    2,    2,    2,    2
===============================================
256,128,  64,   32,  16,     8,    4,    2,   1

In [ ]:
00100001

28=11100
29=11101
35=100011


1010101
Right side
11001

1  = 1
0  = 0
0  = 0
1  = 8
1  = 16
25

&  and
11100
11101
------
11100

In [ ]:
28 & 29

In [ ]:
29 & 28

|  or

11100
11101
------
11101

In [ ]:
28 | 29

^

11100
11101
------
00001

In [ ]:
28 ^ 29

In [ ]:
~29

In [ ]:
~88

In [ ]:
~-80

# Membership Operators

in
not in

In [ ]:
names = ["Ali","Hamza","Junaid","Kashif"]
i = 0
while i < len(names):
    if names[i]=="Junaid":
        print(True)
        break
    i +=1

In [ ]:
names = ["Ali","Hamza","Junaid","Kashif"]
"Kashif" in names

In [ ]:
user = input("Text")
'pakistan' in user

In [ ]:
'Qasim' not in user

In [ ]:
user = input()
user = user.split()
user

# Identity Operators

In [ ]:
a = '5'
b = 5
c = a

print(a is b)
print(a is c)

In [ ]:
print(id(a))
print(id(b))
print(id(c))

In [ ]:
id(a) == id(c)

In [ ]:
4+8-7*(5**2)/3*2+7

parenthesis, exponents, multiplication, division, addition, subtraction

Brackets, Orders, Division/Multiplication, Addition/Subtraction

In [ ]:
4+8-7*(25)/3*2+7 
4+8-(175)/3*2+7
4+8-58.33*2+7
4+8-116.66+7
12-116.66+7
-97.66

# Control Flow
if else elif

old 
if (logic){
    value_if_True
}else{
    value_if_False
}

PYTHON

if logic:
    value_if_True
else:
    value_if_False

In [ ]:
if True:
    print("Pakistan")
else:
    print("Zinda bad")

In [4]:
if True:
 print("Pakistan")
else:
 print("Zinda bad")

if False:
    print("Pakistan")
    print("Pakistan")
    print("Pakistan")
else:
    print("Zinda bad")

Pakistan
Zinda bad

In [2]:
if False:
    print("Pakistan")
    print("Pakistan")
    print("Pakistan")
else:
    print("Zinda bad")

Zinda bad

In [5]:
user = input("User")
password = input("Pass")

if (user=="Ali" or user=="Hamza") and password=="123":
    print("Valid User!")
else:
    print("Invalid User")

UserAli
Pass123
Valid User!

In [6]:
user = input("User")
password = input("Pass")

if (user in ['Ali',"Hamza","Junaid"]) and password=="123":
    print("Valid User!")
else:
    print("Invalid User")

UserHamza
Pass123
Valid User!