# Types of Operator

- Arithmetic Operators
- Comparison (Relational) Operators
- Assignment Operators
- Logical Operators
- Bitwise Operators
- Membership Operators
- Identity Operators

## Arithmetic Operators

+ Addition
- Subtraction
* Multiplication
/ Division
// floor Division
% Modulus
** Power

In [3]:
2 + 5

7

In [4]:
2.0 + 5.0

7.0

In [5]:
2 + 5.0

7.0

In [6]:
"A" + "B"

'AB'

In [7]:
["Hamza","Junaid"] + ["Abid","Konain"]

['Hamza', 'Junaid', 'Abid', 'Konain']

In [8]:
("Hamza","Junaid") + ("Abid","Konain")

('Hamza', 'Junaid', 'Abid', 'Konain')

In [9]:
{"A","B"} + {"C","D"}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [16]:
{8,4} + {8,4}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [10]:
{1:"A",2:"B"} + {3:"C",4:"D"}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [12]:
5 - 2

3

In [13]:
4.2 - 3

1.2000000000000002

In [14]:
{5,6,8,7} - {6,7}

{5, 8}

In [17]:
{"A","B","C"} - {"B"}

{'A', 'C'}

In [18]:
[4,5]-[2,3]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [19]:
2 * 4

8

In [20]:
3.0 * 2

6.0

In [21]:
"A" * 3

'AAA'

In [22]:
["A"] * 3

['A', 'A', 'A']

In [23]:
("aA") * 2

'aAaA'

In [25]:
("aA",) * 2

('aA', 'aA')

In [26]:
test  = ("aA")
type(test)

str

In [27]:
test  = {"aA"}
type(test)

set

In [24]:
("aA","bB") * 2

('aA', 'bB', 'aA', 'bB')

In [28]:
12 / 4

3.0

In [29]:
11 / 3

3.6666666666666665

In [30]:
11 // 3

3


        3
 3  ________
____|   11  |____   
        9
    ----------
        2   # Modulus

In [31]:
11 % 3

2

In [32]:
2 ** 3 # 2 X 2 X 2 = 8

8

In [33]:
"A" ** 2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

## Comparison (Relational) Operators

==
>
<
>=
<=
!=, <>

In [34]:
2 == 2

True

In [35]:
2 === 2

SyntaxError: invalid syntax (<ipython-input-35-2a378b616cf0>, line 1)

In [36]:
2 == 2.0

True

In [38]:
2 == '2'

False

In [37]:
'A' == 'a'

False

In [39]:
5 > 3

True

In [40]:
5 > 5

False

In [41]:
5 >= 5 # 5 > 4

True

In [42]:
5 > 4

True

In [43]:
"A" > "B"

False

A=65  -> Z=90
a=97  -> z=122
0=48  -> 9=57

In [44]:
ord("a")

97

In [45]:
ord("X")

88

In [46]:
chr(65)

'A'

In [47]:
3 < 4

True

In [48]:
3 <= 3

True

In [49]:
'qasim' != "Qasim"

True

In [53]:
4 <> 4

SyntaxError: invalid syntax (<ipython-input-53-51257adbce18>, line 1)

In [50]:
2 != 4

True

# Assignment Operators

=
+=
-=
*=
/=
//=
**=
%=

In [54]:
a = 5
print(a)

5

In [55]:
a = 5
a = 6
a = 7
print(a)

7

In [56]:
a,a,a = 5,6,7
a

7

In [58]:
a = 5;a = 6;a = 7;print(a)

7

In [59]:
a = 1 # 1
a +=2 # 1 + 2 = 3
a +=3 # 3 + 3=6
a +=4 # 6 + 4 = 10
print(a)

10

In [60]:
a = 1 #      1
a = a + 2 #  1 + 2 = 3
a = a + 3 #  3 + 3 = 6
a = a + 4 # 6 + 4 = 10
print(a)

10

In [69]:
a = 1
a++
a

SyntaxError: invalid syntax (<ipython-input-69-ced3118feedb>, line 2)

In [61]:
a = 100
a -=5
a -=5
a -=10
print(a)

80

In [62]:
a = 1
a *= 2 # 1 *2
a *= 3 # 2 * 3 = 6
print(a)

6

In [63]:
a = 100
a /= 2
a /= 2
print(a)

25.0

In [64]:
a = 100
a //= 2
a //= 2
print(a)

25

In [65]:
a = 21
a %= 5
print(a)

1

In [66]:
a = 2
a **= 2
a **= 3
print(a)

64

In [67]:
a = "A"
a += "B"
print(a)

AB

In [68]:
a = [1,2,3]
a +=[5,6]
print(a)

[1, 2, 3, 5, 6]

# Logical Operators

and  & 
or   |
not

In [70]:
True and True and True

True

In [71]:
True & True & True

True

In [72]:
True and False and True

False

In [73]:
user = input("UserName:")
password = input("Password")

user == "Admin" and password == "123"
#"Admin" == "Admin" and "123" == "123"
#       True         and       True
#                   True

UserName:Admin
Passwordthoraghalt

False

In [74]:
user = input("UserName:")
password = input("Password")

(user == "Admin") & (password == "123")
#"Admin" == "Admin" and "123" == "123"
#       True         and       True
#                   True

UserName:Admin
Password123

True

In [75]:
user = input("UserName:")
password = input("Password")

user == "Admin" and password == "123"
#"Qasim" == "Admin" and "123" == "123"
#       False        and       True
#                   False

UserName:Admin
Passwordghlat

False

In [76]:
True or True or False or False or True

True

In [77]:
True | True | False | False | True

True

In [78]:
False | False | False | False | False

False

In [79]:
user = "Qasim" # Qasim,Ali, Hamza
password = "123" # 123


(user == "Qasim" or \
 user== "Ali" or \
 user == "Hamza") and password=="123"

True

In [81]:
user = "a"
password = "123"

not (user=="Ali" and password=="123")

True

In [82]:
not(True)

False

In [83]:
not True

False

In [84]:
not(False)

True

# Bitwise Operators

8,  7,    6,    5,    4,    3,    2,    1,    0
2,  2,    2,    2,    2,    2,    2,    2,    2
===============================================
256,128,  64,   32,  16,     8,    4,    2,   1

In [86]:
00100001

SyntaxError: invalid token (<ipython-input-86-24f635631c48>, line 1)

28=11100
29=11101
35=100011


1010101
Right side
11001

1  = 1
0  = 0
0  = 0
1  = 8
1  = 16
25

&  and
11100
11101
------
11100

In [87]:
28 & 29

28

In [88]:
29 & 28

28

|  or

11100
11101
------
11101

In [89]:
28 | 29

29

^

11100
11101
------
00001

In [90]:
28 ^ 29

1

In [92]:
~29

-30

In [97]:
~88

-89

In [98]:
~-80

79

# Membership Operators

in
not in

In [99]:
names = ["Ali","Hamza","Junaid","Kashif"]
i = 0
while i < len(names):
    if names[i]=="Junaid":
        print(True)
        break
    i +=1

True

In [100]:
names = ["Ali","Hamza","Junaid","Kashif"]
"Kashif" in names

True

In [102]:
user = input("Text")
'pakistan' in user

Textpakistan

True

In [103]:
'Qasim' not in user

True

In [104]:
user = input()
user = user.split()
user

pakistan abc opps

['pakistan', 'abc', 'opps']

# Identity Operators

In [105]:
a = '5'
b = 5
c = a

print(a is b)
print(a is c)

False
True

In [106]:
print(id(a))
print(id(b))
print(id(c))

1504038411056
140725273469456
1504038411056

In [107]:
id(a) == id(c)

True

# Control Flow
if else elif

old 
if (logic){
    value_if_True
}else{
    value_if_False
}

PYTHON

if logic:
    value_if_True
else:
    value_if_False

In [ ]:
if True:
    print("Pakistan")
else:
    print("Zinda bad")

In [ ]:
if False:
    print("Pakistan")
    print("Pakistan")
    print("Pakistan")
else:
    print("Zinda bad")

In [ ]:
user = input("User")
password = input("Pass")

if (user=="Ali" or user=="Hamza") and password=="123":
    print("Valid User!")
else:
    print("Invalid User")

In [ ]:
user = input("User")
password = input("Pass")

if (user in ['Ali',"Hamza","Junaid"]) and password=="123":
    print("Valid User!")
else:
    print("Invalid User")