# How to take Help ?

In [1]:
mesage = "Hello Python Crash Course reader!"

In [2]:
type(mesage)

str

In [3]:
help(mesage.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [4]:
?mesage.count

In [5]:
??mesage.count

In [6]:
?mesage.count?

In [ ]:
?mesage.count

In [7]:
?mesage.count

In [8]:
mesage.count?

In [9]:
mesage.count??

In [10]:
print(mesage)

Hello Python Crash Course reader!

# Combining or Concatenating Strings

In [11]:
first_name = "Isfhan"

In [12]:
last_name = "Ahmed"

In [13]:
full_name = first_name + " " + last_name
print(full_name)
full_name

Isfhan Ahmed

'Isfhan Ahmed'

In [14]:
# + - / * % > < != == === is opreator 
'a'+'c'

'ac'

In [15]:
name = 'isfhan'
print(name)
name

isfhan

'isfhan'

In [16]:
name = "isfhan"
print(name)
name

isfhan

'isfhan'

In [17]:
name = '''isfhan'''
print(name)
name

isfhan

'isfhan'

In [18]:
detail = """
name :- Isfhan ahmed
fatherName :- Dildar ahmed
"""
print(detail)
detail

name :- Isfhan ahmed
fatherName :- Dildar ahmed

'\nname :- Isfhan ahmed\nfatherName :- Dildar ahmed\n'

In [19]:
detail = """
Saylani mass IT traing program
Course : Saylani Ai batch-2
name :- Isfhan ahmed
fatherName :- Dildar ahmed
rollNumber : 12546 batch : 2
"""
print(detail)

Saylani mass IT traing program
Course : Saylani Ai batch-2
name :- Isfhan ahmed
fatherName :- Dildar ahmed
rollNumber : 12546 batch : 2

In [20]:
name = 'JohnDoe' 
father_name = 'johnCena'
roll_number = 45678

detail = """
Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : {name} 
FatherName : {father_name}
RollNumber : {roll_number} batch : 2
"""
print(detail)

Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : {name}
FatherName : {father_name}
RollNumber : {roll_number} batch : 2

In [21]:
name = 'JohnDoe' 
father_name = 'johnCena'
roll_number = 45678

detail = f"""
Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : {name} 
FatherName : {father_name}
RollNumber : {roll_number} batch : 2
"""
print(detail)

Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : JohnDoe
FatherName : johnCena
RollNumber : 45678 batch : 2

In [22]:
name = 'JohnDoe' 
father_name = 'Obama'
roll_number = 45678

detail = f"""
Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : {name} 
FatherName : {father_name}
RollNumber : {roll_number} batch : 2
"""
print(detail)

Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : JohnDoe
FatherName : Obama
RollNumber : 45678 batch : 2

# Changing cases

In [23]:
name

'JohnDoe'

In [42]:
name.upper()

'JOHNDOE'

In [40]:
name.lower()

'johndoe'

In [41]:
name.title()

'Johndoe'

# Avioding Extra Spaces

In [28]:
game = "Gta     "

In [29]:
print(game)

Gta

In [30]:
game.rstrip()

'Gta'

# Arithmetic operators

##### + , - ,  / ,  * ,  %  ,  // , ** is opreator

In [43]:
2+5

7

In [44]:
'1'+'1'

'11'

In [45]:
55 + 96.6

151.6

In [46]:
'1'+1

TypeError: can only concatenate str (not "int") to str

In [47]:
int('1')+1

2

In [48]:
'string '*5

'string string string string string '

In [49]:
22/7

3.142857142857143

In [50]:
a=2

In [51]:
b=2

In [52]:
id(a)

140704868677440

In [53]:
id(b)

140704868677440

In [54]:
a is b

True

In [55]:
(2 + 3) ** 4

625

In [56]:
number_with_power = 3 ** 3

In [57]:
number_with_power

27

In [58]:
float_number = 4.56

In [60]:
type(float_number)

float

In [61]:
float_number_one = 4.36

In [62]:
float_number_two = 8.36

In [63]:
answer = float_number_one+float_number_two

In [64]:
answer

12.719999999999999