In [1]:
#     0    1     2     Positive index
l1 = [20,"Ali",'A.I']
#     -3  -2     -1

#list[element1,element2,...]
#list[index]
l1

[20, 'Ali', 'A.I']

# Dictionary

#key:value = item

# {key1:value1,
# key2: value2,...}

#dict[key]

In [2]:
{'id':20,
'name':"Ali",
"course":"A.I"}

{'id': 20, 'name': 'Ali', 'course': 'A.I'}

In [3]:
d1 = {'id':20,
    'name':"Ali",
    "course":"A.I"}
d1

{'id': 20, 'name': 'Ali', 'course': 'A.I'}

In [4]:
d1 = {} #empty dictionary

d1['id'] = 200
d1['name'] = "Qasim"
d1['course']="A.I"

d1

{'id': 200, 'name': 'Qasim', 'course': 'A.I'}

In [6]:
d1 = {'id': 200, 'name': 'Qasim', 'course': 'A.I'}
print(d1)
d1.clear() # In Memory, Empty Dictionary
print(d1)

{'id': 200, 'name': 'Qasim', 'course': 'A.I'}
{}

In [7]:
d1 = {'id': 200, 'name': 'Qasim', 'course': 'A.I'}
print(d1)
del d1
print(d1)

{'id': 200, 'name': 'Qasim', 'course': 'A.I'}

NameError: name 'd1' is not defined

In [8]:
d1 = {'id': 200, 'name': 'Qasim', 'course': 'A.I'}
print(d1)
d2 = d1.copy()
d1['id']=500
print(d1)
print(d2)

{'id': 200, 'name': 'Qasim', 'course': 'A.I'}
{'id': 500, 'name': 'Qasim', 'course': 'A.I'}
{'id': 200, 'name': 'Qasim', 'course': 'A.I'}

In [9]:
l1 = ['name','course','timing','address']

d1 = dict.fromkeys(l1)
d1

{'name': None, 'course': None, 'timing': None, 'address': None}

In [10]:
l1 = ['name','course','timing','address']

d1 = dict.fromkeys(l1,'NAN')
d1

{'name': 'NAN', 'course': 'NAN', 'timing': 'NAN', 'address': 'NAN'}

a,b,c,d
{a:none, b:none, c:none, d:none}

In [15]:
a = input("Enter Keys for Dictionary")
print(a)
a = a.split(",")
print(a)

d1 = {}
print(d1)

for k in a:
    d1[k] = None
    
d1

Enter Keys for Dictionarya,b,c,d,e,f
a,b,c,d,e,f
['a', 'b', 'c', 'd', 'e', 'f']
{}

{'a': None, 'b': None, 'c': None, 'd': None, 'e': None, 'f': None}

In [17]:
a = input("Enter Keys: ").split(',')
dict.fromkeys(a)

Enter Keys: a,b,c,d,e,adsfsd

{'a': None, 'b': None, 'c': None, 'd': None, 'e': None, 'adsfsd': None}

In [ ]:
l1 = [a,b,c]
l2 = [x,y,z]

{a:x, b:y, c:z}

In [29]:
a = input("Kesy").split(",")
b = input("values").split(",")

d1 = {}
for i in range(len(a)):
    d1[a[i]] = b[i]
    
d1

Kesya,b,c
valuesx,y,z

{'a': 'x', 'b': 'y', 'c': 'z'}

In [32]:
a = input("Kesy").split(",")
b = input("values").split(",")

c = zip(a,b)

d1 = dict(c)
d1

Kesya,b,c
valuesx,y,z

{'a': 'x', 'b': 'y', 'c': 'z'}

In [30]:
a = [1,2,3]
b = ["A","B","C"]

list(zip(a,b))

[(1, 'A'), (2, 'B'), (3, 'C')]

In [26]:
d2= {}
keys = input("Enter Keys").split(',')
values = input("Enter Values").split(',')
d1 = dict.fromkeys(keys)
ind = 0
for ele in d1:
    d2[ele] = values[ind]
    ind = ind+1
print(d2)

Enter Keysa,b
Enter Valuesx,y
{'a': 'x', 'b': 'y'}

{
    id:2
    name:ajdfk
    skills : [c,c++,python,..]
}

In [35]:
d1 = {
    'id':input("id"),
    'name':input("Name"),
    'skills': input("Skills").split(",")
}
d1

id200
NameAli
Skillsa,b,c,d

{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

In [39]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
d1['CNIC']

KeyError: 'CNIC'

In [41]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
d1.get('name')

'Ali'

In [44]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
d1.get('CNIC',"Not available")
print(d1)

{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

In [46]:
print(list(d1.items()))
print(list(d1.keys()))
print(list(d1.values()))

[('id', '200'), ('name', 'Ali'), ('skills', ['a', 'b', 'c', 'd'])]
['id', 'name', 'skills']
['200', 'Ali', ['a', 'b', 'c', 'd']]

In [48]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

print(d1)
print(d1.pop('id'))
print(d1)

{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
200
{'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

In [53]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

print(d1)
print(d1.popitem())
print(d1)

{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
('skills', ['a', 'b', 'c', 'd'])
{'id': '200', 'name': 'Ali'}

In [61]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

print(d1)
print(d1.setdefault('id', 'ABC'))
print(d1.setdefault('id', '203'))
print(d1)

{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
200
200
{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

In [64]:
dic1 = {'a':1, 'b':2, 'c':100}
dic2 = {"x":200,'b':200,'a':125}

dic1.update(dic2)
dic1

{'a': 125, 'b': 200, 'c': 100, 'x': 200}

d1 = {
    'a':200,
    'c':300,
    'b':600,
    'd':400
}
d1

sorted by keys
d1 = {
    'a':200,
    'b':600,
    'c':300,    
    'd':400
}
sorted by values

In [67]:
d1 = {
    'a':200,
    'c':300,
    'b':600,
    'd':400
}
d2={}
for i in sorted(d1.keys()):
    d2[i]=d1[i]
d2

{'a': 200, 'b': 600, 'c': 300, 'd': 400}

In [68]:
moon = {}
scores = {'a':200,'c':300,'b':600,'d':400}
for key,value in sorted(scores.items(),key = lambda kv:kv[1]):
    moon[key] = value
print(moon)

{'a': 200, 'c': 300, 'd': 400, 'b': 600}

In [90]:
scores = {'a':200,'c':300,'b':600,'d':400}
{k:v for k, v in sorted(scores.items(), key=lambda x:x[1], reverse=True)}

{'b': 600, 'd': 400, 'c': 300, 'a': 200}

In [85]:
l1 = []
run = True
while run:
    choice = input("Press n/N to stop: ")
    if choice == "n" or choice == "N":
        run = False
    else:
        d1 = {
            "id":input("Id: "),
            "name":input("Name: "),
            "Skills":input("Skills: ").split(", ")
        }
        l1.append(d1)
print(l1, sep="\n")

Press n/N to stop: a
Id: 1
Name: abc
Skills: a, b, c
Press n/N to stop: a
Id: 2
Name: bcd
Skills: b, f
Press n/N to stop: n
[{'id': '1', 'name': 'abc', 'Skills': ['a', 'b', 'c']}, {'id': '2', 'name': 'bcd', 'Skills': ['b', 'f']}]

In [71]:
a=[("A",'z',20),
  ("C",'x',100),
  ("B",'y',50)]
a

[('A', 'z', 20), ('C', 'x', 100), ('B', 'y', 50)]

In [79]:
def abc(x):
    return x[-1]

In [81]:
sorted(a, key=abc, reverse=True)

[('C', 'x', 100), ('B', 'y', 50), ('A', 'z', 20)]

In [84]:
a=[("A",'z',20),
  ("C",'x',100),
  ("B",'y',50)]
sorted(a, key=lambda x:x[-1], reverse=True)

[('C', 'x', 100), ('B', 'y', 50), ('A', 'z', 20)]

In [ ]:
[{id:2, name:aa,skills:[1,2,c]},
{id:2, name:aa,skills:[1,2,c]},
{id:2, name:aa,skills:[1,2,c]},..]