In [1]:
#     0    1     2     Positive index
l1 = [20,"Ali",'A.I']
#     -3  -2     -1

#list[element1,element2,...]
#list[index]
l1

[20, 'Ali', 'A.I']

# Dictionary

key:value = item

{key1:value1,
 key2: value2,...}

dict[key]

In [2]:
{'id':20,
'name':"Ali",
"course":"A.I"} #python wil make it Hash. H.w(How to make hashable)

{'id': 20, 'name': 'Ali', 'course': 'A.I'}

In [3]:
d1 = {'id':20,
    'name':"Ali",
    "course":"A.I"}
d1

{'id': 20, 'name': 'Ali', 'course': 'A.I'}

In [4]:
d1 = {} #empty dictionary

d1['id'] = 200
d1['name'] = "Qasim"
d1['course']="A.I"

d1

{'id': 200, 'name': 'Qasim', 'course': 'A.I'}

In [5]:
d1 = {'id': 200, 'name': 'Qasim', 'course': 'A.I'}
print(d1)
d1.clear() # In Memory, Empty Dictionary
print(d1)

{'id': 200, 'name': 'Qasim', 'course': 'A.I'}
{}

In [6]:
d1 = {'id': 200, 'name': 'Qasim', 'course': 'A.I'}
print(d1)
del d1 #deatory the variable also
print(d1)

{'id': 200, 'name': 'Qasim', 'course': 'A.I'}

NameError: name 'd1' is not defined

In [7]:
d1 = {'id': 200, 'name': 'Qasim', 'course': 'A.I'}
print(d1)
d2 = d1.copy() #deep copy
d1['id']=500
print(d1)
print(d2)

{'id': 200, 'name': 'Qasim', 'course': 'A.I'}
{'id': 500, 'name': 'Qasim', 'course': 'A.I'}
{'id': 200, 'name': 'Qasim', 'course': 'A.I'}

H.w
Class_method & object_method (difference) 
class_attribute & object_attribut (Difference)

In [8]:
#Signature: dict.fromkeys(iterable, value=None, /)  None = The None keyword is used to define a null variable or an object. In Python, None keyword is an object, and it is a data type of the class NoneType . We can assign None to any variable, but you can not create other NoneType objects. Note: All variables that are assigned None point to the same object.
#Docstring: Create a new dictionary with keys from iterable and values set to value.
#Type:      builtin_function_or_method

In [9]:
l1 = ['name','course','timing','address']

d1 = dict.fromkeys(l1)
d1

{'name': None, 'course': None, 'timing': None, 'address': None}

In [10]:
l1 = ['name','course','timing','address']

d1 = dict.fromkeys(l1,'NAN')
d1

{'name': 'NAN', 'course': 'NAN', 'timing': 'NAN', 'address': 'NAN'}

a,b,c,d
{a:none, b:none, c:none, d:none}

In [11]:
a = input("Enter Keys for Dictionary") # JASON formation
print(a)
a = a.split(",")
print(a)

d1 = {}
print(d1)

for k in a:
    d1[k] = None
    
d1

Enter Keys for Dictionarya,b,c,d,e,f
a,b,c,d,e,f
['a', 'b', 'c', 'd', 'e', 'f']
{}

{'a': None, 'b': None, 'c': None, 'd': None, 'e': None, 'f': None}

In [12]:
a = input("Enter Keys: ").split(',')
dict.fromkeys(a)

Enter Keys: a,b,c

{'a': None, 'b': None, 'c': None}

l1 = [a,b,c]
l2 = [x,y,z]

{a:x, b:y, c:z}

In [13]:
a = input("Kesy").split(",")
b = input("values").split(",")

d1 = {}
for i in range(len(a)):
    d1[a[i]] = b[i]
    
d1

Kesya,b,c
valuesx,y,z

{'a': 'x', 'b': 'y', 'c': 'z'}

In [14]:
ids = [1,2,3]
name = ['a', 'b', 'c']
course = ['x', 'y', 'z']

database = zip (ids,name,course)
print(database)
list(database)

<zip object at 0x00000213AEFC5A00>

[(1, 'a', 'x'), (2, 'b', 'y'), (3, 'c', 'z')]

In [15]:
a = input("Kesy").split(",")
b = input("values").split(",")

c = zip(a,b)

d1 = dict(c)
d1

Kesya,b,c
valuesx,y,z

{'a': 'x', 'b': 'y', 'c': 'z'}

In [16]:
a = [1,2,3]
b = ["A","B","C"]

list(zip(a,b))

[(1, 'A'), (2, 'B'), (3, 'C')]

In [17]:
d2= {}
keys = input("Enter Keys").split(',')
values = input("Enter Values").split(',')
d1 = dict.fromkeys(keys)
ind = 0
for ele in d1:
    d2[ele] = values[ind]
    ind = ind+1
print(d2)

Enter Keysa,b,c
Enter Valuesx,y,z
{'a': 'x', 'b': 'y', 'c': 'z'}

{
    id:2
    name:ajdfk
    skills : [c,c++,python,..]
}

In [18]:
d1 = {
    'id':input("id"),
    'name':input("Name"),
    'skills': input("Skills").split(",")
}
d1

idSMIT04588
NameQasim Hassan
SkillsAI

{'id': 'SMIT04588', 'name': 'Qasim Hassan', 'skills': ['AI']}

In [19]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
d1['CNIC'] #KeyError

KeyError: 'CNIC'

In [20]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
d1.get('name') #to aviod Error like above we'll use Get function

'Ali'

In [21]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
print(d1.get('CNIC',"Not available"))
print(d1)

Not available
{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

In [22]:
print(list(d1.items()))
print(list(d1.keys()))
print(list(d1.values()))

[('id', '200'), ('name', 'Ali'), ('skills', ['a', 'b', 'c', 'd'])]
['id', 'name', 'skills']
['200', 'Ali', ['a', 'b', 'c', 'd']]

In [23]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

print(d1)
print(d1.pop('id'))  #we'll give argument to specify key:value
print(d1)

{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
200
{'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

In [24]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

print(d1)
print(d1.popitem()) #pop item didn't took last on
print(d1)

{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
('skills', ['a', 'b', 'c', 'd'])
{'id': '200', 'name': 'Ali'}

In [25]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

print(d1)
print(d1.setdefault('id', 'ABC'))
print(d1.setdefault('id', '203'))
print(d1)

{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
200
200
{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

In [26]:
d1 ={'id': '200', 'skills': ['a', 'b', 'c', 'd']}

print(d1)
print(d1.setdefault('class', 'AI')) #added class pair
print(d1.setdefault('name', 'Qasim')) 
print(d1)

{'id': '200', 'skills': ['a', 'b', 'c', 'd']}
AI
Qasim
{'id': '200', 'skills': ['a', 'b', 'c', 'd'], 'class': 'AI', 'name': 'Qasim'}

In [27]:
dic1 = {'a':1, 'b':2, 'c':100}
dic2 = {"x":200,'b':200,'a':125}

dic1.update(dic2)
dic1

{'a': 125, 'b': 200, 'c': 100, 'x': 200}

Task:

d1 = {
    'a':200,
    'c':300,
    'b':600,
    'd':400
}
d1

sorted by keys
d1 = {
    'a':200,
    'b':600,
    'c':300,    
    'd':400
}
sorted by values

In [28]:
d1 = {
    'a':200,
    'c':300,
    'b':600,
    'd':400
}
d2={}
for i in sorted(d1.keys()):
    d2[i]=d1[i]
print(d1)
d2

{'a': 200, 'c': 300, 'b': 600, 'd': 400}

{'a': 200, 'b': 600, 'c': 300, 'd': 400}

In [29]:
moon = {}
scores = {'a':200,'c':300,'b':600,'d':400}
for key,value in sorted(scores.items(),key = lambda kv:kv[1]): #kv[1] sort by vlaue
    moon[key] = value
print(moon)

{'a': 200, 'c': 300, 'd': 400, 'b': 600}

In [30]:
moon = {}
scores = {'a':200,'c':300,'b':600,'d':400}
for key,value in sorted(scores.items(),key = lambda kv:kv[0]): #kv[1] sort by keys
    moon[key] = value
print(moon)

{'a': 200, 'b': 600, 'c': 300, 'd': 400}

In [31]:
scores = {'a':200,'c':300,'b':600,'d':400}
{k:v for k, v in sorted(scores.items(), key=lambda x:x[1], reverse=True)}

{'b': 600, 'd': 400, 'c': 300, 'a': 200}

In [32]:
l1 = []
run = True
while run:
    choice = input("Press n/N to stop: ")
    if choice == "n" or choice == "N":
        run = False
    else:
        d1 = {
            "id":input("Id: "),
            "name":input("Name: "),
            "Skills":input("Skills: ").split(", ")
        }
        l1.append(d1)
print(l1, sep="\n")

Press n/N to stop: Y
Id: SMIT04588
Name: Qasim Hassan
Skills: AI
Press n/N to stop: N
[{'id': 'SMIT04588', 'name': 'Qasim Hassan', 'Skills': ['AI']}]

In [33]:
a=[("A",'z',20),
  ("C",'x',100),
  ("B",'y',50)]
a

[('A', 'z', 20), ('C', 'x', 100), ('B', 'y', 50)]

# Functions

In [34]:
def abc(x):
    return x[-1]

In [35]:
sorted(a, key=abc, reverse=True)

[('C', 'x', 100), ('B', 'y', 50), ('A', 'z', 20)]

In [36]:
def abc(x):
    return x[1]
sorted(a, key=abc, reverse=True)  #sorting with our Function abc()

[('A', 'z', 20), ('B', 'y', 50), ('C', 'x', 100)]

In [37]:
a=[("A",'z',20),
  ("C",'x',100),
  ("B",'y',50)]
sorted(a, key=lambda x:x[-1], reverse=True)

[('C', 'x', 100), ('B', 'y', 50), ('A', 'z', 20)]

--->Task sort the data according to the based id,name,skills based lenth

In [ ]:
[{id:1, name:'Qasim',skills:[1,c]},
{id:2, name:'Ali',skills:[1,2,c]},
{id:3, name:'Haseeb',skills:[1,2,c,3]}]

# Notes

Dictionary ---> unstructure data is used here
list ---> structure data is stored here
array ---> Structure data is stored here
Note: Array is faster that List because of fixed of flexible addres of data stoarage
Python is *Semi-OOP* means linear litlle all.

In [ ]:
index ---> Single value output
Slicing---> multiple value

In [ ]:
start:stop:step
range(1:11:2)