In [1]:
#     0    1     2     Positive index
l1 = [20,"Ali",'A.I']
#     -3  -2     -1

#list[element1,element2,...]
#list[index]
l1

[20, 'Ali', 'A.I']

# Dictionary

#key:value = item

# {key1:value1,
# key2: value2,...}

#dict[key]

In [2]:
{'id':20,
'name':"Ali",
"course":"A.I"}

{'id': 20, 'name': 'Ali', 'course': 'A.I'}

In [3]:
d1 = {'id':20,
    'name':"Ali",
    "course":"A.I"}
d1

{'id': 20, 'name': 'Ali', 'course': 'A.I'}

In [4]:
d1 = {} #empty dictionary

d1['id'] = 200
d1['name'] = "Qasim"
d1['course']="A.I"

d1

{'id': 200, 'name': 'Qasim', 'course': 'A.I'}

In [5]:
d1 = {'id': 200, 'name': 'Qasim', 'course': 'A.I'}
print(d1)
d1.clear() # In Memory, Empty Dictionary
print(d1)

{'id': 200, 'name': 'Qasim', 'course': 'A.I'}
{}

In [6]:
d1 = {'id': 200, 'name': 'Qasim', 'course': 'A.I'}
print(d1)
del d1
print(d1)

{'id': 200, 'name': 'Qasim', 'course': 'A.I'}

NameError: name 'd1' is not defined

In [7]:
d1 = {'id': 200, 'name': 'Qasim', 'course': 'A.I'}
print(d1)
d2 = d1.copy()
d1['id']=500
print(d1)
print(d2)

{'id': 200, 'name': 'Qasim', 'course': 'A.I'}
{'id': 500, 'name': 'Qasim', 'course': 'A.I'}
{'id': 200, 'name': 'Qasim', 'course': 'A.I'}

In [8]:
l1 = ['name','course','timing','address']

d1 = dict.fromkeys(l1)
d1

{'name': None, 'course': None, 'timing': None, 'address': None}

In [9]:
l1 = ['name','course','timing','address']

d1 = dict.fromkeys(l1,'NAN')
d1

{'name': 'NAN', 'course': 'NAN', 'timing': 'NAN', 'address': 'NAN'}

In [11]:
type(dict())

dict

a,b,c,d
{a:none, b:none, c:none, d:none}

In [12]:
a = input("Enter Keys for Dictionary")
print(a)
a = a.split(",")
print(a)

d1 = {}
print(d1)

for k in a:
    d1[k] = None
    
d1

Enter Keys for Dictionaryid,name,class,age
id,name,class,age
['id', 'name', 'class', 'age']
{}

{'id': None, 'name': None, 'class': None, 'age': None}

In [13]:
a = input("Enter Keys: ").split(',')
dict.fromkeys(a)

Enter Keys: id,name,class,newColumn

{'id': None, 'name': None, 'class': None, 'newColumn': None}

In [ ]:
l1 = [a,b,c]
l2 = [x,y,z]

{a:x, b:y, c:z}

In [14]:
a = input("Kesy").split(",")
b = input("values").split(",")

d1 = {}
for i in range(len(a)):
    d1[a[i]] = b[i]
    
d1

Kesyid,name
values45,abc

{'id': '45', 'name': 'abc'}

In [16]:
ids = [2,5,6]
name = ['a','b','c']
course = ['x','y','z']
database = zip(ids,name,course)
list(database)

[(2, 'a', 'x'), (5, 'b', 'y'), (6, 'c', 'z')]

In [17]:
a = input("Kesy").split(",")
b = input("values").split(",")

c = zip(a,b)

d1 = dict(c)
d1

Kesyid,name,age
values4,isfhan,45

{'id': '4', 'name': 'isfhan', 'age': '45'}

In [18]:
a = [1,2,3]
b = ["A","B","C"]

list(zip(a,b))

[(1, 'A'), (2, 'B'), (3, 'C')]

In [19]:
d2= {}
keys = input("Enter Keys").split(',')
values = input("Enter Values").split(',')
d1 = dict.fromkeys(keys)
ind = 0
for ele in d1:
    d2[ele] = values[ind]
    ind = ind+1
print(d2)

Enter Keysid,name,class
Enter Values4,isfhan,ai
{'id': '4', 'name': 'isfhan', 'class': 'ai'}

{
    id:2
    name:ajdfk
    skills : [c,c++,python,..]
}

In [21]:
d1 = {
    'id':input("id"),
    'name':input("Name"),
    'skills': input("Skills").split(",")
}
d1

id4
Nameisfhan
Skillsphp,js,react,vue,laravel,p5.js

{'id': '4',
 'name': 'isfhan',
 'skills': ['php', 'js', 'react', 'vue', 'laravel', 'p5.js']}

In [22]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
d1['CNIC']

KeyError: 'CNIC'

In [23]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
d1.get('name')

'Ali'

In [28]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
print(d1.get('CNIC',"Not available"))
print(d1)

Not available
{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

In [29]:
print(list(d1.items()))
print(list(d1.keys()))
print(list(d1.values()))

[('id', '200'), ('name', 'Ali'), ('skills', ['a', 'b', 'c', 'd'])]
['id', 'name', 'skills']
['200', 'Ali', ['a', 'b', 'c', 'd']]

In [30]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

print(d1)
# pop will remove item 
print(d1.pop('id'))
print(d1)

{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
200
{'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

In [31]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

print(d1)
print(d1.popitem())
print(d1)

{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
('skills', ['a', 'b', 'c', 'd'])
{'id': '200', 'name': 'Ali'}

In [32]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

print(d1)
print(d1.popitem('id'))
print(d1)

{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

TypeError: popitem() takes no arguments (1 given)

In [34]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

print(d1)
print(d1.setdefault('id', 'ABC'))
print(d1.setdefault('class', '203'))
print(d1)

{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
200
203
{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd'], 'class': '203'}

In [35]:
dic1 = {'a':1, 'b':2, 'c':100}
dic2 = {"x":200,'b':200,'a':125}

dic1.update(dic2)
dic1

{'a': 125, 'b': 200, 'c': 100, 'x': 200}

d1 = {
    'a':200,
    'c':300,
    'b':600,
    'd':400
}
d1

sorted by keys
d1 = {
    'a':200,
    'b':600,
    'c':300,    
    'd':400
}
sorted by values

In [36]:
d1 = {
    'a':200,
    'c':300,
    'b':600,
    'd':400
}
d2={}
                #a,b,c,d
for i in sorted(d1.keys()):
    d2[i]=d1[i]
d2

{'a': 200, 'b': 600, 'c': 300, 'd': 400}

In [37]:
moon = {}
scores = {'a':200,'c':300,'b':600,'d':400}
for key,value in sorted(scores.items(),key = lambda kv:kv[1]):
    moon[key] = value
print(moon)

{'a': 200, 'c': 300, 'd': 400, 'b': 600}

In [38]:
moon = {}
scores = {'a':200,'c':300,'b':600,'d':400}
for key,value in sorted(scores.items(),key = lambda kv:kv[0]):
    moon[key] = value
print(moon)

{'a': 200, 'b': 600, 'c': 300, 'd': 400}

In [40]:
scores = {'a':200,'c':300,'b':600,'d':400}
{k:v for k, v in sorted(scores.items(), key=lambda x:x[1], reverse=True)}

{'b': 600, 'd': 400, 'c': 300, 'a': 200}

In [41]:
l1 = []
run = True
while run:
    choice = input("Press n/N to stop: ")
    if choice == "n" or choice == "N":
        run = False
    else:
        d1 = {
            "id":input("Id: "),
            "name":input("Name: "),
            "Skills":input("Skills: ").split(", ")
        }
        l1.append(d1)
print(l1, sep="\n")

Press n/N to stop: 4
Id: 4
Name: jop
Skills: pjp
Press n/N to stop: 5
Id: yu
Name: iop
Skills: oisiosad,asdsdsa
Press n/N to stop: N
[{'id': '4', 'name': 'jop', 'Skills': ['pjp']}, {'id': 'yu', 'name': 'iop', 'Skills': ['oisiosad,asdsdsa']}]

In [3]:
a=[("A",'z',20),
  ("C",'x',100),
  ("B",'y',50)]
a

[('A', 'z', 20), ('C', 'x', 100), ('B', 'y', 50)]

In [4]:
def abc(x):
    return x[-1]

In [5]:
sorted(a, key=abc, reverse=True)

[('C', 'x', 100), ('B', 'y', 50), ('A', 'z', 20)]

In [6]:
def abc(x):
    return x[1]

sorted(a, key=abc, reverse=True)

[('A', 'z', 20), ('B', 'y', 50), ('C', 'x', 100)]

In [7]:
a=[("A",'z',20),
  ("C",'x',100),
  ("B",'y',50)]
sorted(a, key=lambda x:x[-1], reverse=True)

[('C', 'x', 100), ('B', 'y', 50), ('A', 'z', 20)]

Task : sort by 
id,
name,
skills len

In [10]:
[{id:2, name:'alex',skills:[1,2,6]},
{id:5, name:'betaa',skills:[1,2,8]},
{id:8, name:'ninja',skills:[1,2,4]}]

NameError: name 'name' is not defined