## Functions
* Pre define functions
* User Define Functions
* Recursive Functions
* Lambda Functions


- Required Arguments
- Optional Arguments
- Return
- Non Return
- Defualt Arguments
- postional Arguments
- KeyWord Arguments
- Argument with List
- Argument with Dictionary

In [ ]:
print("Pakistan zinda bad")
print("We are muslim")
print("We love our country!")

print("Pakistan zinda bad")
print("We are muslim")
print("We love our country!")

print("Pakistan zinda bad")
print("We are muslim")
print("We love our country!")

# Pre define Functions

In [ ]:
print("Pre Define Fucntions")
input("abc")
print(type(22))
print(len('ad'))
print(id('aa'))

# User Define Functions

In [2]:
def abc(): # Function Dec
    #Body Start indentation block
    print("Pakistan zinda bad")   #Statment1
    print("We are ABC")           #statment2
    print("We love our country!") #Statment3
    #Body End indentation block
    
    
abc()    # Defualt Function
abc()    
abc()    
abc()    
abc()    
abc()

Pakistan zinda bad
We are ABC
We love our country!
Pakistan zinda bad
We are ABC
We love our country!
Pakistan zinda bad
We are ABC
We love our country!
Pakistan zinda bad
We are ABC
We love our country!
Pakistan zinda bad
We are ABC
We love our country!
Pakistan zinda bad
We are ABC
We love our country!

# Required Arguments Functions

In [3]:
len()

TypeError: len() takes exactly one argument (0 given)

In [4]:
def id_card(sid, sname, fname, course, timing):
    print(
    f"""
    PIAIC Islamabad
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """
    )
    
id_card(1,'Qasim','Aslam','A.I','9 to 12')

    PIAIC Islamabad
    Student id: 1
    Student Name: Qasim
    Father's Name: Aslam
    Course: A.I
    Timing: 9 to 12

In [ ]:
id_card()

In [5]:
id_card(1,'Qasim','Aslam')

TypeError: id_card() missing 2 required positional arguments: 'course' and 'timing'

In [ ]:
id_card(1,'9 to 12','Aslam','A.I','Qasim')

In [8]:
data = [[1,'a','a','b','a'],
       [2,2,2,2,2],
       [3,3,3,3,3]]

len(data)
for i in data:
    id_card(*i)
    print(*i)
    #id_card(i[0],i[1],i[2],i[3],i[4])

    PIAIC Islamabad
    Student id: 1
    Student Name: a
    Father's Name: a
    Course: b
    Timing: a

1 a a b a

    PIAIC Islamabad
    Student id: 2
    Student Name: 2
    Father's Name: 2
    Course: 2
    Timing: 2

2 2 2 2 2

    PIAIC Islamabad
    Student id: 3
    Student Name: 3
    Father's Name: 3
    Course: 3
    Timing: 3

3 3 3 3 3

In [9]:
def pl(x,y,z):
    print(x,y,z)
    print(x+y+z)
    
pl(9,3)

TypeError: pl() missing 1 required positional argument: 'z'

# Optional Argument | Defualt Argument

In [10]:
def pl(x, y=0, z=0):
    print(x,y,z)
    print(x+y+z)

In [11]:
pl(9,3)

9 3 0
12

In [12]:
pl(2)

2 0 0
2

In [13]:
pl(2,3,4)

2 3 4
9

In [14]:
pl()

TypeError: pl() missing 1 required positional argument: 'x'

In [15]:
def pl(x,z, y=0):
    print(x,y,z)
    print(x+y+z)

pl(5,6)

5 0 6
11

In [16]:
def pl(x=0, y=0, z=0):
    print(x,y,z)
    print(x+y+z)
    
pl()

0 0 0
0

# Non Return Functions

In [17]:
a = print('Pakistan')
print(a)

Pakistan
None

In [18]:
b=id_card(1,'Qasim','Aslam','A.I','9 to 12')   
print(b)

    PIAIC Islamabad
    Student id: 1
    Student Name: Qasim
    Father's Name: Aslam
    Course: A.I
    Timing: 9 to 12

None

In [19]:
print(print(print('Isfhan')))

Isfhan
None
None

In [20]:
def pl(x=0, y=0, z=0):
    print(x+y+z)
    
a=pl(3,5,9) 
print(a)

17
None

# Return Functions

In [ ]:
def abc(x,y,z):
    return x+y+z

a = abc(3,3,5) #Return Fucntion
print(a)

In [21]:
def abc(x,y,z):
    print('a')
    print('z')
    return x+y+z
    print('b')

a = abc(3,3,5) #Return Fucntion
print(a)

a
z
11

In [22]:
def id_card(sid, sname, fname, course, timing):
    return f"""
    PIAIC Islamabad
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """
    
    
a=id_card(1,'Qasim','Aslam','A.I','9 to 12')    
print(a)

    PIAIC Islamabad
    Student id: 1
    Student Name: Qasim
    Father's Name: Aslam
    Course: A.I
    Timing: 9 to 12

In [23]:
def abc():
    return "A" # Always return first return statment
    return "B"
    return "C"

abc()

'A'

In [24]:
def abc(x,y,z):
    return x+y+z
    return x*y*z
    return x*y+z

abc(5,5,6)

16

In [25]:
def abc(x,y,z):
    return x+y+z, x*y*z, x*y+z

print(abc(5,5,6))
type(abc(5,5,6))

(16, 150, 31)

tuple

# Positional Arguments

In [26]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
    
    
#id_card(1,'Qasim','Aslam','A.I','9 to 12')    
id_card(1,'A.I','9 to 12','Qasim','Aslam')

    PIAIC Islamabad
    Student id: 1
    Student Name: A.I
    Father's Name: 9 to 12
    Course: Qasim
    Timing: Aslam

In [27]:
id_card(1,'Qasim','Aslam','A.I','9 to 12')

    PIAIC Islamabad
    Student id: 1
    Student Name: Qasim
    Father's Name: Aslam
    Course: A.I
    Timing: 9 to 12

# Keyword Arguments

In [28]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
    
    
id_card(sid=1, course='A.I',timing='9 to 12',sname='Qasim',fname='Aslam')

    PIAIC Islamabad
    Student id: 1
    Student Name: Qasim
    Father's Name: Aslam
    Course: A.I
    Timing: 9 to 12

# Pass Argument with List

In [29]:
l1 = [1,"ABC","XYZ",'A.I',"AAA"]
print(l1)

[1, 'ABC', 'XYZ', 'A.I', 'AAA']

In [30]:
l1 = [1,"ABC","XYZ",'A.I',"AAA"]
print(l1[0], l1[1], l1[2],l1[3], l1[4])

1 ABC XYZ A.I AAA

In [31]:
l1 = [1,"ABC","XYZ",'A.I',"AAA"]
print(*l1)

1 ABC XYZ A.I AAA

In [33]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
    
    
l1 = [1,"ABC","XYZ",'A.I',"AAA"]    
#id_card(l1[0], l1[1], l1[2],l1[3], l1[4])    
id_card(*l1) # same as above second last line

    PIAIC Islamabad
    Student id: 1
    Student Name: ABC
    Father's Name: XYZ
    Course: A.I
    Timing: AAA

# Passing Argument with Dictionary

In [38]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
    



d1 = {
    'sname':'Qasim',
    'sid':200,
    'fname':'Aslam',
    'timing':'5 to 9',
    'course': 'A.I'
    
}
#id_card(d1['sid'], d1['course'],d1['timing'],d1['sname'],d1['fname'])
id_card(**d1)

    PIAIC Islamabad
    Student id: 200
    Student Name: Qasim
    Father's Name: Aslam
    Course: A.I
    Timing: 5 to 9

In [ ]:
def abc(name, *number):
    print(name)
    print(number)
    print(sum(number))
    
abc('Qasim',5,4,6,2)

In [ ]:
def abc(name, abc, *number):
    print(name)
    print(abc)
    print(number)
    print(sum(number))
    
abc('Qasim','ABBB',5,4,6,2)

In [ ]:
def abc(*number, name):
    print(name)
    print(number)
    print(sum(number))
    
abc(5,4,6,2, name='Qasim')

In [ ]:
def abc(abc, *number, name):
    print(name)
    print(number)
    print(sum(number))
    
abc(number=[5,4,6,2], name='Qasim', abc='aaa')

In [ ]:
def abc(name, **kv):
    print(name)
    print(kv)
    
    
abc('QASim', a='bb',b='aa',c='ccc')

# Recursive Function

In [ ]:
def abc(n):
    if n==1:
        return 1
    return n * abc(n-1)

abc(5)
#1*2*3*4*5

In [ ]:
def abc(n):
    if n==1:
        return 1
    return n + abc(n-1)

abc(5)
#1*2*3*4*5

# Generator Function

In [ ]:
def my_range(n):
    for i in range(1, n+1):
        print(i)
        
my_range(10)

In [ ]:
def my_range(n):
    for i in range(1, n+1):
        yield i
        
a = my_range(10)

print(next(a))
print(next(a))
print(next(a))

In [ ]:
print(next(a))

In [ ]:
list(a)

In [ ]:
def abc(n):
    for i in range(1,n+1):
        if (i%5==0 and i%7==0 and i%15==0):
            yield i
            
a = abc(1000)
print(next(a))
print(next(a))
print(next(a))
list(a)

# Lambda Function

In [ ]:
def abc(x,y): return x+y

abc(5,7)

In [ ]:
abc = lambda x,y,z : x+y+z

abc(4,6,7)

In [ ]:
abc(7,9)
#9

abc(6,3)
#6