# Types of Operator
- Arithmetic Operators
- Comparison (Relational) Operators
- Assignment Operators
- Logical Operators
- Bitwise Operators
- Membership Operators
- Identity Operators

## Arithmetic Operators
* "+" Addition 
* "-" Subtraction 

* "*" Multiplication 

* / Division 

* // floor Division 

* % Modulus 

* ** Power

#### "+"

In [1]:
2 + 3

5

In [2]:
2.0 + 3

5.0

In [3]:
3 + 3.0

6.0

In [4]:
"A" + "B"

'AB'

In [5]:
['A',"B"] + ['C',"D"]

['A', 'B', 'C', 'D']

In [6]:
('A',"B") + ('C',"D")

('A', 'B', 'C', 'D')

In [7]:
{'A',"B"} + {"C","D"}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [8]:
{1:'A',2:"B"} + {3:"C",4:"D"}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

#### - Subraction

In [9]:
5 - 2

3

In [12]:
5.3 - 2

3.3

In [10]:
{"A","B","C"} - {"A","C"}

{'B'}

In [13]:
{1:"A",2:"B",3:"C"} - {7:"A",1:"C"}

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [11]:
["A","B","C"] - ["A","C"]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

#### * Multiplication

In [14]:
2  * 3

6

In [15]:
2.0 * 2.0

4.0

In [16]:
"AB" * 2

'ABAB'

In [17]:
['A',"B"] * 2

['A', 'B', 'A', 'B']

In [18]:
('A',"B") * 2

('A', 'B', 'A', 'B')

In [20]:
{0:1,1:2} * 2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

#### "/" Division

In [21]:
10 / 5

2.0

In [22]:
11/5

2.2

In [25]:
11//5

2

In [24]:
11 // 5.0

2.0

In [26]:
11 // 5.2

2.0

In [27]:
11.5 // 5

2.0

In [28]:
5 / 0

ZeroDivisionError: division by zero

        3
3   __________
____|   11    |_____
        9
    -----------
        2 # Modulus

In [29]:
21 % 5

1

In [30]:
11 % 3

2

In [31]:
2 ** 3 # 2x2x2=8

8

## Comparison (Relational) Operators

==
>
<
>=
<=
!=, <>

In [32]:
2 == 2

True

In [33]:
2.0 == 2

True

In [34]:
'2' == 2

False

In [35]:
'Qasim' == 'qasim'

False

In [36]:
3==2

False

In [38]:
a = ['A','B']
b = ['A','B']

print(id(a),id(b), sep='\n')
a == b

140259126805384
140259127618120

True

In [39]:
a is b

False

In [40]:
{1,2,3} == {1,2,3}

True

In [41]:
5 > 3

True

In [42]:
5 > 5

False

In [43]:
5 > '4'

TypeError: '>' not supported between instances of 'int' and 'str'

In [44]:
"A" > "B"

False

In [47]:
"A"> "B"
# ord('A') > ord('B')
#  65      >    66
#        False

False

- A=65 -> Z=90
- a=97 -> z=122
- 0=48 -> 9=57

In [45]:
chr(65)

'A'

In [46]:
ord("z")

122

In [48]:
5 >= 5

True

In [49]:
5 > 4

True

In [50]:
3 < 2

False

In [51]:
5 < 1

False

In [52]:
5 <= 5

True

In [53]:
'Qasim' != 'qasim'

True

In [54]:
'Qasim' == 'qasim'

False

In [55]:
5 <> 4

SyntaxError: invalid syntax (<ipython-input-55-7e659c41e907>, line 1)

In [56]:
5 != 3

True

# Assignment Operators

* =
* +=
* -=
* *=
* /=
* //=
* **=
* %=

In [58]:
a = 1 
print(a)
a = 2 
print(a)
a = 3
print(a)

1
2
3

In [60]:
a = 1
a = a + 2 # 1 + 2 = 3
a = a + 5 # 3 + 5 = 8
a = a +2 # 8 + 2 = 10
print(a)

10

In [89]:
a = 1
a +=2 
a +=5
a +=2
print(a)

10

In [65]:
a = "A"
a +="B"
a +="C"
print(a)

ABC

In [62]:
a = 100
a -=20
a -=5
print(a)

75

In [63]:
a = 1
a *=2
a *=3
print(a))

6

In [67]:
a = "A"
a *= 5
print(a)

AAAAA

In [64]:
a = 1
a **=2
a **=3
a **=2
print(a)

1

In [68]:
a = 27
a %= 5
print(a)

2

In [69]:
a = 13
a /= 3
a

4.333333333333333

In [70]:
a = 13
a //=3
a

4

# Logical Operators

- and &
- or  |
- not

In [72]:
True and True and True and True

True

In [73]:
True & True & True & True

True

In [74]:
1 and 1 and 1 and 1

1

In [75]:
True and True and False and True

False

In [76]:
True or True or False or False or True

True

In [77]:
True | True | False | False | True

True

In [78]:
False or False or False or False or False

False

In [79]:
not(True)

False

In [80]:
not(True)

False

In [84]:
user = input("User Name")
password = input("Password")

(user == "A" or user == "B" or user=="C") and password=='123'

User NameA
Password456

False

# Bitwise Operators

8,   7,  6,  5,  4,  3, 2, 1, 0 
2,   2,  2,  2,  2,  2, 2, 2, 2 
===============================
256,128, 64, 32, 16, 8, 4, 2, 1

1110000


111 =  7
11100 = 28
11101 = 29

Right
110
0 = 0
1 = 2
1 = 4
------
    6

11100 = 28
11101 = 29

11100
11101
------
11100  = 28

In [85]:
29 & 28

28

11100
11101
------
11101

In [86]:
28 | 29

29

#### XOR
1 and 1 = 0

11100
11101
------
00001

In [87]:
28 ^ 29

1

In [88]:
~29

-30

11100
left sift 2
1110000

16+32+64

In [91]:
28<<2

112

11100
Right sift 2
00111

00111 = 7

In [92]:
28>>2

7

In [96]:
chr(ord("A") & ord("B"))

'@'

# Membership Operators

- in 
- not in

In [98]:
names = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [99]:
i = 0
while i<len(names):
    if names[i]=="F":
        print(True)
        break
    i += 1

True

In [100]:
"F" in names

True

In [101]:
message = input("Message")

"Pakistan" in message

Messageaksdfjl adslkjflkadsjlk flaksdjflk jadslkjfkasjdklf alksdj Pakistan lajdflkjalkdsjfjlasjdflkajdslkfjaldsjlk

True

In [102]:
message = input("Message")

"Pakistan" in message.split()

Messageajkdfj alsdfj ld ajdf

False

In [103]:
print(names)

"a" not in names

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

True

In [107]:
user = input("User Name")
password = input("Password")

(user in ["A","B","C"]) and password=='123'

User NameD
Password1332

False

# Identity Operators

In [110]:
a = 5
b = '5'
c = a

print(a,b,c, sep='\n')
print(id(a),id(b),id(c), sep='\n')

5
5
5
93979087782912
140259593674968
93979087782912

In [111]:
a == c

True

In [112]:
a is b

False

In [113]:
a is c

True

In [114]:
id(a) == id(c)

True

# Control Flow

##### if, else , elif

# Old
if (logic){
    if_value_True
}else{
    if_value_False
}


Pythonic

if logic:
    if_value_True
else:
    if_value_False

value_if_True if logic else value_if_False

In [115]:
if True:
    print("Pakistan")
else:
    print("Zinda bad!")

Pakistan

In [116]:
if False:
    print("Pakistan")
else:
    print("Zinda bad!")

Zinda bad!

In [117]:
print("Pakistan") if True else print("ZindaBad!")

Pakistan